<h1>Login</h1>

<p>Login to your Pine account.</p>

<%= bootstrap_form_with model: @user, url: login_path do |form| %>
    <%= form.email_field :email, help: false %>
    <%= form.password_field :password, help: false %>
    <%= text_field_tag :username, nil, class: "d-none" %>
    <%= form.form_group do %>
        <%= form.submit "Login" %>
    <% end %>
<% end %>
