<h2>Signup</h2>

<p>Create a new Pine account.</p>

<%= bootstrap_form_with model: @user, local: true do |form| %>
    <%= form.email_field :email %>
    <%= form.text_field :display_name %>
    <%= form.password_field :password, help: "Must be at least 6 characters long" %>
    <%= form.submit "Signup" %>
<% end %>
