<%= form.text_field :common_name %>
<%= form.text_field :scientific_name %>

<div class="form-group">
    <label for="tree_content"><%= t "activerecord.attributes.tree.content" %></label>
    <%= form.hidden_field :content %>
    <trix-editor input="tree_content" class="trix-content form-control"></trix-editor>
    <small class="form-text text-muted"><%= t "activerecord.help.tree.content" %></small>
</div>

<%= form.text_field :fact, prepend: "Did you know..." %>

<%= form.file_field :images, multiple: true, accept: "image/png,image/gif,image/jpeg" %>

<% if @tree.images.attached? %>
<% @tree.images.each do |image| %>
<%= form.hidden_field :images, multiple: true, value: image.signed_id %>
<% end %>
<% end %>
