<h1>Update <%= @tree.common_name %></h1>

<%= bootstrap_form_with model: @tree, local: true do |form| %>
    <%= render partial: "form", locals: { form: form } %>

    <%= form.form_group do %>
        <%= form.submit "Save changes" %>
    <% end %>
<% end %>

