<h1>Trees</h1>

<table class="table mt-4">
    <caption>List of all trees on Pine</caption>
    <thead class="thead-light">
        <tr>
            <th scope="col">Common name</th>
            <th scope="col">Added by</th>
            <th scope="col">Last updated</th>
        </tr>
    </thead>

    <tbody>
        <% @trees.each do |tree| %>
        <tr>
            <td><%= link_to tree.common_name, tree_with_slug_path(tree.common_name.parameterize, tree) %></td>
            <td><%= tree.user.display_name %></td>
            <td><time datetime="<%= tree.updated_at.to_formatted_s(:iso8601) %>"><%= l tree.updated_at, format: :short %></time></td>
        </tr>
        <% end %>
    </tbody>
</table>

<% if current_user -%>
<%= link_to 'Add a tree', new_tree_path, class: "btn btn-secondary" %>
<%- end %>
