<h1><%= @tree.common_name %></h1>

<% if @tree.scientific_name -%>
<p><i><%= @tree.scientific_name %></i></p>
<%- end %>

<div class="mb-3 tree-content"><%= sanitize @tree.content %></div>

<% if @tree.fact.present? -%>
<h3>Did you know?</h3>
<p><%= @tree.fact %></p>
<%- end %>

<% if @tree.images.attached? -%>
<h3>Pictures</h3>

<div class="row row-cols-2 row-cols-lg-3">
<% @tree.images.each do |image| %>
    <div class="col mb-4">
        <div class="card">
            <%= link_to(image_tag(image.variant(apply: { thumbnail: '320x300^', gravity: 'center', extent: '320x300' }), class: "card-img-top"), image.variant(resize_to_limit: [1024, 1024]))%>

            <% if @tree.can_edit? current_user -%>
            <div class="card-body">
                <p class="card-text"><%= link_to 'Remove', tree_attachment_path(@tree, image.id), method: :delete, class: "btn btn-block btn-outline-danger", data: { confirm: "Are you sure you want to remove this image?" } %></p>
            </div>
            <%- end %>
        </div>
    </div>
<% end %>
</div>
<%- end %>

<p><i>Added by <%= @tree.user.display_name %>. Last updated <%= time_ago_in_words @tree.updated_at %> ago.</i></p>

<% if @tree.can_edit? current_user -%>
<%= link_to 'Edit', edit_tree_path(@tree), class: 'btn btn-secondary mr-2' %>
<%= link_to "Remove", tree_path(@tree), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this?" } %>
<%- end %>
