<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pine</title>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path "apple-touch-icon.png" %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path "favicon-32x32.png" %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path "favicon-16x16.png" %>">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for? :head %>
    <%= yield :head %>
    <% end %>
</head>

<body>
    <a class="sr-only sr-only-focusable" href="#content" id="#skip-to-content">Skip to main content</a>

    <nav class="navbar navbar-expand-md navbar-dark mb-3 mb-md-5">
        <a class="navbar-brand" href="/">🌲 Pine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <% if current_page?(:controller => 'trees') %>active<% end %>">
                    <%= link_to "Trees", trees_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                   <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Chillis</a>
                </li>
            </ul>

            <% if logged_in? %>
            <span class="navbar-text mr-3"><%= current_user.display_name %></span>
            <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-outline-light my-2 my-sm-0" %>
            <% else %>
            <span class="navbar-text">
                <%= link_to "Login", login_path %> or <%= link_to "Join", join_path %>
            </span>
            <% end %>
        </div>
    </nav>

    <%= bootstrap_flash class: "ml-3 mb-3" %>

    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <main id="content" role="main" class="col col-lg-8 col-md-10 mb-3">
                <%= yield %>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application' %>
</body>

</html>
